<%- include ../partials/header.ejs %>

<%- include ../partials/navbar.ejs %>

<!-- Rendering Content of Page-->
<main class="container">

    <div class="row">
        <div class="offset-md-1 col-md-12">
            <h1><%= title %></h1>
            <a href="/contact-list/add" class="btn btn-primary" role="button"><i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-center col-3">Name</th>
                    <th class="text-center col-3">Phone Number</th>
                    <th class="text-center col-4">Email</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>


                </tr>
                <% for(let count = 0; count < ContactList.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].name %></td>
                        <td class="text-center"><%= ContactList[count].number %></td>
                        <td class="text-center"><%= ContactList[count].email %></td>
                        <td class="text-center"><a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-warning"> Edit</a></td>
                        <td class="text-center"><a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger"> Delete</a></td>
    
                    </tr>
                <% } %>
            </table>
        </div>
    </div>

</main>

<%- include ../partials/footer.ejs %>
