<%- include ../partials/header.ejs %>

<%- include ../partials/navbar.ejs %>

<!-- Rendering Content of Page-->
<main class="container">

    <div class="row">
        <div class="col my-4">
            <h1><%= title %></h1>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th class="text-center ">Name</th>
                    <th class="text-center ">Phone Number</th>
                    <th class="text-center ">Email</th>
                    <th class="text-center "></th>
                    <th class="text-center "></th>

                </tr>
                <% for(let count = 0; count < ContactList.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= ContactList[count].name %></td>
                        <td class="text-center"><%= ContactList[count].number %></td>
                        <td class="text-center"><%= ContactList[count].email %></td>
                        <td class="text-center"><a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-warning"><i class="far fa-edit"></i> Edit</a></td>
                        <td class="text-center"><a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger deleteContactBtn"><i class="far fa-trash-alt"></i> Delete</a></td>
    
                    </tr>
                <% } %>
            </table>
            <a href="/contact-list/add" class="btn btn-primary mb-2" role="button"><i class="fas fa-plus-circle"></i> Add a Contact</a>

        </div>
    </div>

</main>

<%- include ../partials/footer.ejs %>
